.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    /* margin-left: -12px;
    margin-right: -12px; */
}

.grid__col-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.66%;
}

.grid__col-3 {
    /* padding-left: 12px; */
    /* padding-right: 12px; */
    width: 25%;
}

.grid__col-6 {
    padding-left: 12px;
    padding-right: 12px;
    width: 60%;
}

.grid__col-9 {
    padding-left: 12px;
    padding-right: 12px;
    width: 75%;
}

.grid__col-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.333%;
}