li {
    display: list-item;
    list-style: none;
    padding: 5px;
}

ur{
    display: flex;
}

.row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.navbar__item{
    padding-right: 15px;
    text-decoration: none;
}

.topbar__nav {
    width: 960px;
    display: flex;
    justify-content: space-between;
}

.col--sum {
    display: flex ;
    width: 960px;
}

.header__item{
    padding: 5px;
}
.header__item--logo, .header__item--account, .header__item--cart{
    width: calc(100%/6);
}

.header__item--search{
 width: calc(100%/2)
}

.navbar__item--phone :before {
   
}